body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .calendar {
    width: 320px;
    margin: auto;
    text-align: center;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-header button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day, .date {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .day {
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  .empty {
    background-color: transparent;
    border: none;
  }
  
  .today {
    background-color: #ffdddd;
    color: red;
    font-weight: bold;
  }
  
  .day-shift {
    background-color: orange;
    color: white;
    font-weight: bold;
  }
  
  .night-shift {
    background-color: #001f3f;
    color: white;
    font-weight: bold;
  }
 .date-number.red-text {
  color: red;
  }
/* функциональная кнопка */
.feature-wrapper {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

/* .feature-icon {
  position: relative;
  right: -860px;
  top: -287px;
  width: 24px;
  height: 24px;
  cursor: pointer;
} */

.feature-popup {
  position: relative;
  top: -291px;
  left: 850px;
  display: none;
  margin-top: 6px;
  padding: 6px 10px;
  background-color: #f2f2f2;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

  
  
